name: Run EPS Pipeline

on:
  push:
    branches: [master, main]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Run pipeline
        run: uv run main.py
